.calender {
    flex: 8;
    padding: 5%;
    position: relative;
    overflow-y: auto;  /* 내부 내용이 많을 경우 스크롤 가능하도록 설정 */
    box-sizing: border-box; /* padding을 포함한 크기 계산 */
}
.innerCalender{
    background-color: white;
    padding: 5%;
    border: 5px solid white;
    box-shadow: 1px 1px 3px #818181;
    border-radius: 20px;
    height: 100%;

}

/* 날짜 클릭시 나오는 일정 추가 모달창 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px; height: 500px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex; flex-direction: column;
}
/* 제목 */
.modal h2 {flex: 1;}
.modalInner{flex: 9; display: flex;flex-direction: column;}
.modalInner > div {flex: 1;display: flex;align-items: center;}
/* 왼쪽 title */
.modalInner > div p {width: 20%;}
/* 오른쪽 input, select */
.modalInner > div select , .modalInner > div input{
    width: 80%;
}
.modalInner > div select , .modalInner > div .inputBox{
    width: 40%;
}
.modalInner > div select , .modalInner > div .dateBox{
    width: 40%;
}
/* 버튼 */
.modalInner > div:nth-child(5) {
    display: flex; justify-content: space-evenly; align-items: center;
}
.modalInner > div:nth-child(5) > button {
    padding: 2% 5%;
    border: none;
    border-radius: 50px; cursor: pointer;
    transition: all ease 0.2s;
}
.modalInner > div:nth-child(5) > button:hover{
    background-color: #6b9080cc; color: white;
}




.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
