.tox-tinymce-aux{
    z-index: 9999 !important;
    position: fixed !important;
}
.tox-toolbar__overflow{
  max-height: 120px !important;
}

/* styles.css */
/*.my-toast {
    background-color: #333 !important;
    color: red !important;
  }*/