/* div{border: 1px solid black;} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 700px;
    max-width: 90%;
    position: relative;
    height: 600px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
  }


  .form_box{
    height: 420px;
    width: 575px;
    margin-top: 30px;
    margin-left: 40px;
    /* border: 1px solid black; */
    display: flex;
  }

  .form_menu{
    flex:5;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }

  .form_refer{
    flex:3.5;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .form_refer_box{
    border: 1px solid black;
    width: 510px;
    height: max-content;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 3px; /* 자식 요소들 간의 간격 설정 */
    max-height: 175px;
    overflow-y: auto;
  }

  .refer_member{
    flex: 0 1 calc(45% - 10px);
    width: 150px;
    height: 20px;
    font-size: 13px;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin:10px;
    margin-left: 18px;
    text-align: center;
    background-color: #9db8b2;
  }

  .refer_member button{
    background-color: #9db8b200;
    border: 0px;
    color: #364b46;
  }

  .refer_member button:hover{
    cursor: pointer;
  }
  /* .form_check{
    flex:5;
    border: 1px solid black;
  } */
  
  .form_btns{
    width: 595px;
    margin-left: 40px;
    display: flex;
    justify-content: end;
  }

  .form_btns button{
    width: 60px;
    margin-right:20px;
    margin-top: 15px;
    background-color: #CCE3DE;
    border: 0px;
    border-radius: 5px;
    height: 30px;
  }

  .form_btns button:hover{
    cursor: pointer;
    background-color: #abc3be;
  }

  /* .form_menu_tree li{
    list-style: none;
    margin-bottom: 7px;
  } */

  .form_menu_tree ul{
    padding-left: 10px;
  }
