
.container {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 300px; /* 사이드바의 너비 */
    height: 430px;
    overflow: auto;
    background-color: white;
    color: gray;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    z-index: 9999;
    flex-direction: column;
    gap: 25px;
    font-size: 11px;
}
.search{
    display: flex;
    justify-content: space-evenly;
}

.search div:nth-child(2){
    flex: 6;
    display: flex;
}

.container input{
    border-radius: 20px;
    width: 100%;
    background-color: rgb(203, 201, 201);
    font-family: 'Freesentation-9Black';
}
.list{
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 8;
}
.item{
    display: flex;
    gap: 10px;
    font-family: 'ONE-Mobile-POP';
}
.itemDiv1{
    flex: 1;
}
.itemDiv2{
    flex: 5;
    align-items: center;
}
.avatar{
    width: 30px;
    height: 30px;
}
.checkbox{
    flex: 1;
    display: flex;
    justify-content: flex-end;
   align-items: center;
}
.button{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: flex-end;
}
.button button{
    border: 0px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    
}

.btn1{
    background-color: yellowgreen;
}
.btn1:hover{
    background-color: yellow;
}
.btn2:hover{
    background-color: red;
}
.btn2{
    background-color: rgb(240, 219, 219);
}

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}