.container{ 
    position: absolute;
    width: 280px; /* 사이드바의 너비 */
    height: 400px;
    left: 350px;
    top: 40px;
    background-color: white;
    z-index: 200;
}
.container div{
    font-size: 10px !important;
    color: black;
}
.container fc-view-harness{
    height: 350px;
}
.container fc{
    height: 100% !important;
}
