.container{ 
    position: absolute;
    width: 80%; 
    height: 80%; 
    left: 350px;
    background-color: white;
    z-index: 200;
}
.container div{
    font-size: 10px !important;
    color: black;
}
.container td{
    cursor: pointer !important;
}