.container {
  width: 100%;
  height: 100%;
}
.container > div {
  padding: 0 30px;
}

.container .box {
  height: 80px;
  min-width: 860px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.7rem;
  margin-right: 10px;
  padding-bottom: 10px;
}
.container .box > div:nth-child(1) > label {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.container .box > div:nth-child(1) > label > p {
  margin-left: 5px;
}

.container .box > div:nth-child(2) > p {
  cursor: pointer;
  font-size: 12px;
}
.container .box > div:nth-child(2) > p:hover {
  color: #536d62;
}

.container .top {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.container .top .left {
  flex: 2;
  /* width: 550px; */
  display: flex;
  align-items: center;
}
.container .top .left p {
  width: 40px;
  padding-left: 5px;
}
.container .top .left input {
  width: 430px;
  height: 35px;
  padding-left: 10px;
  margin-left: 15px;
  border-radius: 3px;
  border: 1px solid #a4c3b2;
}
.container .top .left .tempSave {
  width: 190px;
  font-size: 0.73rem;
  color: #a4c3b2;
  margin-left: 10px;
}

.container .top .right {
  flex: 1;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container .top .right .tempSave {
  flex: 3;
  display: flex;
}

.container .top .right .btns {
  padding-right: 10px;
  display: flex;
}
.container .top .right .btns button {
  flex: 2;
  width: 70px;
  height: 30px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #6b9080;
  color: white;
  font-size: 0.75rem;
  cursor: pointer;
  transition-duration: 0.4s;
}
.container .top .right .btns button:hover {
  background-color: #6b9080cc;
}

.container .files {
  height: 80px;
  width: 100%;
  min-width: 890px;
  display: flex;
  align-items: center;
}

.container .files > div {
  width: 100%;
  height: 90%;
  border: 1px dotted #a4c3b2;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: white;
}
.container .files > div > input {
  margin-left: 10px;
}

.container .contents {
  height: 810px;
}

/* 임시저장 목록 popup */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.343);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup {
  width: 560px;
  min-width: 450px;
  height: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup > h3 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid #6b908061;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.popup .tempSaveList {
  width: 100%;
  max-height: 172px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.popup .tempSaveList > div {
  display: flex;
  font-size: 0.8rem;
  padding: 12px 14px;
  align-items: center;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.popup .tempSaveList > div .tempSaveValue {
  flex: 1;
  color: #6b9080;
  font-weight: 600;
}
.popup .tempSaveList > div .tempSaveTitle {
  flex: 5;
  font-size: 0.75rem;
  padding: 0 10px;
}
.popup .tempSaveList > div .tempSaveTime {
  flex: 2.3;
  font-size: 0.65rem;
  color: #959595;
  margin-left: 8px;
}
.popup .tempSaveList > div .tempSaveBtns {
  flex: 1.8;
  display: flex;
  justify-content: flex-end;
}
.popup .tempSaveList > div .tempSaveBtns .mod {
  height: 20px;
  font-size: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #6b9080;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.popup .tempSaveList > div .tempSaveBtns .mod:hover {
  background-color: #6b9080cc;
}
.popup .tempSaveList > div .tempSaveBtns .del {
  height: 20px;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  background-color: #a4c3b2;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.popup .tempSaveList > div .tempSaveBtns .del:hover {
  background-color: #6b9080;
}

.popup > span {
  height: 60px;
  font-size: 0.7rem;
  margin: 23px 0 10px 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
.popup > button {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: #6b9080;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.popup > button:hover {
  background-color: #6b9080cc;
}
