.container {
  width: 100%;
  height: auto;
  min-height: 600px;
}

.container > h3 {
  padding: 0 0 8px 3px;
  margin: 0;
  font-size: 15px;
  color: #6b9080;
}

.container .boardList {
  height: auto;
  border: 1px solid #6b908061;
  border-radius: 4px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container .boardList .header {
  height: 38px;
  display: flex;
}
.container .boardList .header .profile {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}
.container .boardList .header .profile > img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 1px solid #6b908061;
}
.container .boardList .header .writer {
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-size: 15px;
  padding-bottom: 7px;
}
.container .boardList .header .writeDate {
  /* width: 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #959595;
  padding-bottom: 5px;
}

.container .boardList .body {
  min-height: 150px;
  padding: 0 10px 10px 42px;
}
.container .boardList .body .board {
  background-color: #ffffff;
  min-height: 60px;
  max-height: 160px;
  overflow: hidden;
  margin-bottom: 5px;
  border: 1px solid #6b908061;
  padding: 8px 5px 10px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.container .boardList .body .board:hover {
  border: 1px solid #6b9080b3;
}

.container .boardList .body .board .boardTitle {
  font-size: 15px;
  font-weight: 600;
}
.container .boardList .body .board .boardContents {
  font-size: 12px;
  margin: 10px 5px 5px 5px;
}

/* =================[ 댓 글 ]================ */
.container .boardList .body .reply {
  min-height: 60px;
  background-color: #eaf4f4;
  border: 1px solid #6b908061;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.container .boardList .body .reply .replyInput {
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.container .boardList .body .reply .replyInput .inputText {
  width: 90%;
  height: auto;
  min-height: 30px;
  max-height: 100px;
  overflow-y: scroll;
  margin: 0 9px 0 6px;
  padding: 4px 16px 4px 5px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  background-color: #ffffff;
  font-size: 12px;
}
.container .boardList .body .reply .replyInput > button {
  width: 40px;
  height: 20px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  background-color: #6b9080;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.container .boardList .body .reply .replyInput > button:hover {
  background-color: #6b9080cc;
}

.replyOutputWrap .replyOutput {
  display: flex;
  padding: 10px 8px 17px 15px;
  border-bottom: 1px solid #6b908061;
}

.replyOutputWrap .replyOutput > img {
  width: 34px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px 20px 4px;
}

.replyOutputWrap .replyOutput > div {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.replyOutputWrap .replyOutput > div .writer_writeDate {
  height: 20px;
  margin: 3px 0 8px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.replyOutputWrap .replyOutput > div .writer_writeDate > span:nth-child(1) {
  /* margin: 0 20px; */
  /* color: #959595; */
  font-size: 13px;
}
.replyOutputWrap .replyOutput > div .writer_writeDate > span:nth-child(2) {
  margin: 0 15px;
  color: #959595;
  font-size: 10px;
}

.replyOutputWrap .replyOutput > div .replyContent {
  font-size: 13px;
}

.replyOutputWrap .replyOutput .likes {
  width: 30px;
  /* margin-right: 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3px;
}
.replyOutputWrap .replyOutput .likes i {
  /* margin-bottom: 10px; */
  cursor: pointer;
  color: #6b9080;
}
.replyOutputWrap .replyOutput .likes p {
  font-size: 12px;
  color: #6b9080;
  margin-bottom: 10px;
}

.replyOutputWrap .replyOutput > button {
  padding: 0px;
  width: 20px;
  height: 20px;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  color: #959595;
}

/* .moreReplies {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #6b9080;
} */
