.container{
    height: 100%;
    overflow-y: hidden;
    min-width: 900px;
}
/* 나의 예약 목록 */
.title {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px 0;
    min-width: 40px;
    border-bottom: 1px solid #f2f4f3;
    background-color: #A4C3B2;
}
.title > h3 {padding-left: 20px;}
/* 나의 예약 목록 아래 테이블들 */
.content {
    padding: 0px 20px 20px;
    height: 100vh; 
    padding-top: 2%;
}
.ReservationList{
    margin-bottom: 5%;
}
.ReservationList > p {color: gray}
.ReservationList thead tr th, 
.waitingList thead tr th {
    background-color: #A4C3B2; 
    color: white;
    letter-spacing: 3px;
    padding: 14px 10px 14px 15px;
}
.ReservationList tbody tr td, 
.waitingList tbody tr td {
    padding: 12px 10px 12px 15px;
}
.list {
    border: 1px solid gainsboro;
    width: 100%;
    border-radius: 5px;
    /* padding: 5px; */
    border: none;
}
.list tr,td {
    /* border: 1px solid #000;/\ */
    border: none;
}

/* 상태 (승인 대기 / 취소) */
.state {
    display: flex;
}
.state > span{
    flex: 1; text-align: center;
}
.state > button{
    flex: 1;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
}