<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ApprovalLine">
 
 	<insert id="insert">
 		insert into approval_line values(approval_line_seq.nextval, ${temp_seq}, #{approval_id},'',#{member_state_code},${approval_order},null)
 	</insert>
 	
 	<select id="selectLine" resultType="map">
 		select 
		    a.temp_seq,
		    a.approval_id,
		    TO_CHAR(a.approval_date, 'YYYY-MM-DD HH24:MI:SS') AS approval_date,
		    a.member_state_code,
		    a.approval_order,
		    a.comments,
		    m.name, 
		    j.JOB_NAME,
		    t.team_name,
		    d.dept_name,
		    a.comments
		from approval_line a
		left outer join members m on a.approval_id = m.id 
		left outer join JOB j on m.JOB_CODE = j.JOB_CODE
		left outer join teams t on m.TEAM_CODE = t.TEAM_CODE
		left outer join department d on t.DEPT_CODE = d.DEPT_CODE
		where temp_seq=#{seq}
		order by a.approval_order
 	</select>
 	
 	<!-- 결재 승인, 반려 코멘트 저장-->
 	<update id="updateComment">
 		update approval_line 
 		set member_state_code = #{approvalYN}, approval_date = sysdate, comments = #{comment} 
 		where temp_seq = #{temp_seq} and approval_id = #{id}
 	</update>
 	
 	<!-- 현재 결재된 라인의 order 출력  -->
 	<select id="selectOrder" resultType="int">
 		select approval_order from approval_line where temp_seq = #{temp_seq} and approval_id=#{id}
 	</select>
 	
 	<!-- 임시번호에 따른 결재라인 수 확인 -->
 	<select id="selectLineCount" resultType="int">
 		select count(*) from approval_line where temp_seq = #{temp_seq}
 	</select>
 	
 	<!-- 결재 승인 시 다음 결재자 상태 업데이트  -->
 	<update id="updateNextApproval">
 		update approval_line set member_state_code = 'w' where temp_seq = #{temp_seq} and approval_order=#{updateOrder}
 	</update>
 	
 	<delete id="delete">
    	delete from approval_line where temp_seq = ${seq}
    </delete>
  
  
 </mapper>