<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Calendar">
    
    <!-- 목록 -->
<!--     <resultMap id="CalendarResultMap" type="com.nbti.dto.ScheduleDTO">
        <result property="seq" column="schedule_seq"/>
        <result property="member_id" column="member_id"/>
        <result property="calendar_title_code" column="calendar_title_code"/>
        <result property="name" column="name"/>
        <result property="title" column="title"/>
        <result property="contents" column="contents"/>
        <result property="start_date" column="start_date"/>
        <result property="end_date" column="end_date"/>
    </resultMap>

    <select id="list" resultMap="CalendarResultMap">
        SELECT 
            s.seq,
            s.member_id,
            s.calendar_title_code,
            st.name,
            s.title,
            s.contents,
            s.start_date,
            s.end_date
        FROM 
            calendar s
        JOIN 
            calendar_title st ON s.calendar_title_code = st.code;
    </select> -->
    <select id="list" resultType="com.nbti.dto.CalendarDTO" >
        SELECT 
            *
        FROM 
            calendar
    </select> 
    
    
    
  <!-- 캘린더 입력 -->
	<insert id="insert">
       insert into calendar 
   	   values(calendar_seq.nextval, #{member_id}, #{calendar_title_code}, #{title}, #{contents}, #{start_date}, #{end_date})
       <selectKey resultType="int" order="AFTER" keyProperty="seq"> 
            select calendar_seq.currval from dual
      </selectKey>
    </insert>

    <update id="update">
    	update calendar set title=#{title}, contents=#{contents}  where seq = #{seq}
    </update>
    
    <delete id="delete">
    	delete calendar where seq = #{seq}
    </delete>
    
    <select id="listAll" resultType="com.nbti.dto.CalendarDTO">
    	SELECT * from calendar
    </select>
    
</mapper>

