<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Chat">
	<insert id="insert">
		insert into chat
		values(chat_seq.nextval,#{member_id},#{message},sysdate,${group_seq},#{upload_seq})
		<selectKey resultType="int" order="AFTER" keyProperty="seq">
			select chat_seq.currval from dual
		</selectKey>
	</insert>

	<select id="list" resultType="com.nbti.dto.ChatDTO">
		select *from chat where
		group_seq=#{param} order by seq
	</select>

	<select id="search" resultType="com.nbti.dto.ChatDTO">
		select *from chat
		where REGEXP_REPLACE(message, '&lt;[^>]+&gt;', '')
		like '%'||#{content}||'%' and group_seq=#{group_seq} and member_id not in 'system' and upload_seq=0
		order by seq
	</select>

	<select id="getLastDto" resultType="com.nbti.dto.ChatDTO">
		select *from chat where
		seq=(select max(seq) from chat where group_seq = ${group_seq})
	</select>


	<select id="date" resultType="java.sql.Timestamp">
		select write_date from chat where
		seq= ${param}
	</select>

	<select id="unread" resultType="int">
		select count(seq) from chat where
		group_seq=${group_seq} and seq between ${last_chat_seq} and ${seq}
	</select>

	<select id="unreadTotal" resultType="int">
		select count(seq) from chat where group_seq=${group_seq} 
		and seq between
		(select last_chat_seq from group_member where group_seq=${group_seq} and member_id=#{member_id})
		and (select seq from chat where seq=(select max(seq) from chat where group_seq = ${group_seq} ))
	</select>
	
	<delete id="deleteByUpload_seq">
		delete from chat where upload_seq=${seq}
	</delete>

</mapper>
