<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="DocDraft">
 	<insert id="insert">
 		insert into doc_draft (
 			draft_seq, effective_date, cooperation_dept, title, content
 		) values(
 			#{draft_seq}, #{effective_date, jdbcType=TIMESTAMP}, #{cooperation_dept, jdbcType=VARCHAR}, #{title, jdbcType=VARCHAR},#{content, jdbcType=VARCHAR})
 	</insert>
 	
 	<select id="selectContent" resultType="com.nbti.dto.DocDraftDTO">
 		select * from doc_draft where draft_seq = #{seq}
 	</select>
 </mapper>