<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Group_member">
	<insert id="insert">
		insert into group_member
		values(${group_seq},#{member_id},${last_chat_seq},#{alarm},#{bookmark},#{name})
	</insert>
	
	<select id="check" resultType="Integer">
		select group_seq
		from group_member
		where member_id in
		<foreach item="member_id" index="index" collection="list" open="(" separator="," close=")">
            #{member_id}
        </foreach>
		group by group_seq
		having count(DISTINCT MEMBER_ID) = #{size}
		and count(*)=(
			select count(*) from group_member gm where gm.group_seq= group_member.group_seq
		)
	</select>
	
	<select id="list" resultType="com.nbti.dto.Group_memberDTO">
		select * from group_member where member_id=#{param}
	</select>
	
	<select id="members"  resultType="com.nbti.dto.Group_memberDTO">
		select * from group_member where group_seq=#{param}
	</select>
	
	<select id="member" resultType="com.nbti.dto.Group_memberDTO">
		select *from group_member where group_seq=#{group_seq} and member_id=#{member_id}
	</select>
	
	<update id="update_check">
		update group_member set last_chat_seq =${last_chat_seq} where group_seq=${group_seq} and member_id=#{member_id}
	</update>
	
	
	<delete id="delete">
		delete from group_member where group_seq=${group_seq} and member_id=#{member_id}
	</delete>
</mapper>