<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">


    <select id="login" resultType="String">
           SELECT id FROM members WHERE id=#{id} AND pw=#{pw}
    </select>
    
    <select id="mydata" resultType="com.nbti.dto.MembersDTO">
    	select * from members where id = #{id}
    </select>
	
<update id="updateUser">
    UPDATE members
    SET address = #{address},
        member_call = #{member_call},
        email = #{email},
        team_code = #{team_code},
        job_code = #{job_code},
        member_level = #{member_level}
    WHERE id = #{id}
</update>
	
	<select id="selectAll" resultType="com.nbti.dto.MembersDTO">
		select * from members 
	</select>
	<update id="updateMember">
		update members set email=#{email}, team_code=#{team_code}, job_code=#{job_code}, member_call=#{member_call}, ent_yn=#{ent_yn},end_date=#{end_date} where id=#{id}
	</update>
	

<insert id="insert" parameterType="com.nbti.dto.MembersDTO">
   INSERT INTO members (
    id, pw, name, email, team_code, job_code, member_level, member_call, address, birth, gender, ent_yn, vacation_period, enter_date
) VALUES (
    #{id}, #{pw}, #{name}, #{email}, #{team_code}, #{job_code}, #{member_level}, #{member_call}, #{address}, #{birth}, #{gender}, #{ent_yn}, #{vacation_period}, SYSDATE
)
</insert>
<delete id="deleteUser" >
	delete from members where id = #{id}
</delete>
  <select id="selectMembers" resultType="map">
        SELECT 
            m.id,
            m.pw,
            m.name,
            m.email,
            t.team_name,
            j.job_name,
            m.member_level,
            m.member_call,
            m.gender,
            m.ent_yn,
            m.vacation_period
        FROM members m
        LEFT JOIN team t ON m.team_code = t.team_code
        LEFT JOIN job j ON m.job_code = j.job_code
    </select>
	
	<select id="checkPw" resultType="boolean">
		select count(*) from members where id = #{id} and pw = #{pw}
	</select>
	
	<update id="changePw">
		update members set pw = #{pw} where id = #{id}
	</update>
	
	<select id="searchMembers" resultType="com.nbti.dto.MembersDTO">
		select * from members where team_code = #{team}
	</select>


</mapper>

