<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ReferLine">
 
 	<insert id="insert">
 		insert into refer_line values(refer_line_seq.nextval, ${temp_seq}, #{referer},'N')
 	</insert>
 	
 	<select id="selectLine" resultType='com.nbti.dto.ReferLineDTO'>
 		select * from refer_line where temp_seq=#{seq}
 	</select>
 	
 	<update id="updateRead">
 		update refer_line set read='Y' where temp_seq = #{seq} and referer=#{id}
 	</update>
  
 </mapper>