<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reply">

	<!-- 댓글 입력 -->
	<insert id="insert">
		 insert into reply values (reply_seq.nextval, #{member_id}, #{contents}, sysdate, ${board_seq}, ${board_code})
		<selectKey resultType="int" order="AFTER" keyProperty="seq">
			select reply_seq.currval from dual
		</selectKey>
	
	</insert>
	
	<select id="write_date" resultType="java.sql.Timestamp">
		select write_date from reply where seq=${param}
	</select>
	
	<!-- 댓글 출력 -->
	<select id="selectReply" resultType="com.nbti.dto.ReplyDTO">
		SELECT 
	        r.*, 
	        m.name AS name, 
	        (SELECT COUNT(*) FROM likes l WHERE l.reply_seq = r.seq) AS count
	    FROM 
	        reply r
	    JOIN 
	        members m ON r.member_id = m.id
	    WHERE 
	        r.board_seq = ${board_seq} 
	    AND 
	        r.board_code = ${board_code}
	    ORDER BY 
	        r.seq DESC
	</select>
	
	<!-- 댓글 개수 -->
	<select id="countReply" resultType="int">
		select count(*) from reply where board_seq = ${board_seq} and board_code = ${board_code}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="delete">
		delete from reply where seq = ${seq}
	</delete>
	
	<!-- ===================[ 메 인 ]==================== -->
	<!-- 자유게시판 댓글 출력 -->
	<select id="selectFreeReply" resultType="com.nbti.dto.ReplyDTO">
	    <![CDATA[
	        SELECT *
	        FROM (
	            SELECT 
	                r.*, 
	                m.name AS name, 
	                ROW_NUMBER() OVER (ORDER BY r.seq DESC) AS rn
	            FROM 
	                reply r
	            JOIN 
	                members m ON r.member_id = m.id
	            WHERE 
	                r.board_seq = ${board_seq} 
	            AND 
	                r.board_code = 1
	        ) subquery
	        WHERE 
	            subquery.rn <= 5
	    ]]>
	</select>



	
	
</mapper>
