<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reply">

	<!-- 댓글 입력 -->
	<insert id="insert">
		 insert into reply values (reply_seq.nextval, #{member_id}, #{contents}, sysdate, ${board_seq}, ${board_code})
		<selectKey resultType="int" order="AFTER" keyProperty="seq">
			select reply_seq.currval from dual
		</selectKey>
	
	</insert>
	
	<select id="write_date" resultType="java.sql.Timestamp">
		select write_date from reply where seq=${param}
	</select>
	
	<!-- 댓글 출력 -->
	<select id="selectReply" resultType="com.nbti.dto.ReplyDTO">
		select * from reply where board_seq = ${board_seq} and board_code = ${board_code} order by seq desc
	</select>
	
	<!-- 댓글 개수 -->
	<select id="countReply" resultType="int">
		select count(*) from reply where board_seq = ${board_seq} and board_code = ${board_code}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="delete">
		delete from reply where seq = ${seq}
	</delete>
	
	<!-- ===================[ 메 인 ]==================== -->
	<!-- 자유게시판 댓글 출력 -->
	<select id="selectFreeReply" resultType="com.nbti.dto.ReplyDTO">
	    <![CDATA[
		    SELECT * 
		    FROM (
		        SELECT r.*, ROW_NUMBER() OVER (ORDER BY seq DESC) AS rn
		        FROM reply r
		        WHERE board_seq = ${board_seq} AND board_code = 1
		    )
		    WHERE rn <= 5
	    ]]>
	</select>


	
	
</mapper>
