<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User_history">
	<insert id="insert">
		insert into user_history values(user_history_seq.nextval,#{member_id},#{ip},sysdate)
	</insert>
	
	<select id="list" resultType="com.nbti.dto.User_historyDTO">
	 SELECT a.* 
	    FROM (
		select user_history.*, ROW_NUMBER() OVER (ORDER BY seq DESC) AS rown 
		from user_history 
		<if test="target=='ip'">
      		where ip like '%'||#{keyword}||'%'
   		</if>
   		<if test="target=='id'">
      		where member_id like '%'||#{keyword}||'%'
   		</if>
   		)a 
   		where rown between ${start} AND ${end}
	</select>
	
	<select id="getHistoryCount" resultType="i
	
	nt" >
		select count(*) from user_history
		<if test="target=='ip'">
      		where ip like '%'||#{keyword}||'%'
   		</if>
   		<if test="target=='id'">
      		where member_id='%'||#{keyword}||'%'
   		</if>
	</select>
	
</mapper>