.container{
    width: 100%;
    height: 100%;
}
.item{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    font-size: 11.5px;
   
}
.item div{ 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete{
    color: red;
    cursor: pointer;
}
.delete:hover{
    background-color: black;
    color: white;
}

.name{
    color: gray;
}
.oriname{
    color: blue;
    cursor: pointer;
}