/* div {
  border: 1px solid black;
} */

.container {
  width: 100%;
  min-width: 850px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.container .top {
  display: flex;
  height: 90px;
  padding: 20px 10px;
}
.container .top .left {
  width: 50%;
  display: flex;
  align-items: center;
}
.container .top .left i {
  color: #6b9080;
  cursor: pointer;
}

/* 수정, 삭제 버튼 */
.container .top .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .top .right > p {
  margin-left: 13px;
  cursor: pointer;
  color: #6b9080;
  font-size: 0.85rem;
}

/* 저장, 취소 버튼 (수정버튼 click 시) */
.container .top .editButtons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .top .editButtons > p {
  margin-left: 13px;
  cursor: pointer;
  color: #6b9080;
  font-size: 0.85rem;
}

.container .title {
  /* background-color: azure; */
  height: 100px;
  display: flex;
}
.container .title .image {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border: 1px solid #6b908061;
  border-radius: 50%;
}
.container .title .titleWriter {
  flex: 1;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  /* justify-content: center; */
}
.container .title .titleWriter .innerTitle {
  flex: 1;
  display: flex;
  align-items: center;
}
.container .title .titleWriter .innerWriter {
  flex: 1;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.container .title .writeDate {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 5px 15px 0 0;
  font-size: 0.85rem;
  color: #959595;
}

.container .content {
  /* background-color: #f7fffc; */
  min-height: 150px;
  border-top: 1px solid #6b908061;
  margin-top: 25px;
  padding: 30px 10px 70px;
  font-size: 0.9rem;
  line-height: 1.8;
}

/* =================[ 댓 글 ]================ */
.container .reply {
  /* height: 120px; */
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  /* padding: 10px; */
}
.container .reply .count {
  display: flex;
  margin-bottom: 15px;
}
.container .reply .count > div {
  padding-bottom: 10px;
  border-bottom: 3px solid #6b908061;
}

.container .reply .count > span:nth-child(1) {
  margin-right: 3px;
  color: #6b9080;
}
.container .reply .replyInput {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #eaf4f4;
  border-top: 1px solid #6b908061;
}
.container .reply .replyInput > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.container .reply .replyInput .inputText {
  width: 88%;
  height: auto;
  min-height: 34px;
  margin: 0 20px;
  padding: 4px 16px 4px 5px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  background-color: #ffffff;
}
.container .reply .replyInput > button {
  width: 60px;
  height: 30px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  background-color: #6b9080;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.container .reply .replyInput > button:hover {
  background-color: #6b9080cc;
}

.replyOutputWrap {
  padding-bottom: 60px;
}

.replyOutputWrap .replyOutput {
  display: flex;
  padding: 10px 8px 20px 20px;
  border-bottom: 1px solid #6b908061;
}

.replyOutputWrap .replyOutput > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 20px 20px 0;
}

.replyOutputWrap .replyOutput > div {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.replyOutputWrap .replyOutput > div .writer_writeDate {
  height: 20px;
  margin-bottom: 5px;
}
.replyOutputWrap .replyOutput > div .writer_writeDate > span:nth-child(2) {
  margin: 0 20px;
  color: #959595;
  font-size: 0.75rem;
}

.replyOutputWrap .replyOutput .likes {
  width: 30px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
.replyOutputWrap .replyOutput .likes i {
  margin-bottom: 7px;
  cursor: pointer;
  color: #6b9080;
}
.replyOutputWrap .replyOutput .likes p {
  font-size: 0.8rem;
  color: #6b9080;
}

.replyOutputWrap .replyOutput > button {
  padding: 0px;
  width: 20px;
  height: 20px;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  color: #959595;
}

/* 수정 UI */
.editTitle {
  border: 2px solid #6b908061;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  width: 100%;
  transition: border-color 0.3s ease;
}
.editTitle:focus {
  border-color: #6b9080;
  outline: none;
}
