.container{
    height: 100%;
    overflow-y: hidden;
    padding-top: 3%;
    min-width: 900px;
}

.list thead th, 
.list thead th {
    background-color: #A4C3B2; 
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
    text-shadow: 1px 1px 1px #9b9b9b;
    padding: 14px 10px 14px 15px
}
.list tbody td, 
.list tbody td {
    padding: 12px 10px 12px 15px
}
.list {
    border: 1px solid gainsboro;
    /* box-shadow: 3px 2px 4px gainsboro; */
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}
tr,td {
    border: 1px solid gainsboro;
}
.num{
    padding-top: 2%;
}
/* .btn{
    display: flex;flex-direction: row; 
} */
.btn > button {border: none; border-radius: 5px; height: 100;width: 45%; transition: all 0.2s ease; cursor: pointer;}
.btn > button:first-child {margin-right: 10%;}
.btn > button:hover {border: none;}