.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

/* ===== 스크롤바 ===== */
/* 전체 영역 */
.container::-webkit-scrollbar {
  width: 12px; /* 스크롤바의 너비 */
}

/* 스크롤바 전체 영역 */
.container::-webkit-scrollbar {
  width: 10px;  /* 수직 스크롤바의 너비 */
}

/* 스크롤바가 움직이는 배경 영역 */
.container::-webkit-scrollbar-track {
  background: #a1d3bc47; height: 50px;
}

/* 스크롤바의 핸들 */
.container::-webkit-scrollbar-thumb {
  background-color: #6B9080; 
  border-radius: 15px;
  border: 1px solid rgba(121, 121, 121, 0.197)
}
.container::-webkit-scrollbar-thumb:hover {
  background-color:#516e61; ; 
}
/* ===== 스크롤바 ===== */


.nbti{
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 2px solid #6B9080;
    cursor: pointer;
    display: flex;
    padding-bottom: 5px;
  }
  .nbtiname{
    display: flex;
  }
  .nbtiname:hover{
    background-color: gray;
  }
  .deptname{
    display: flex;
  }
  .deptname:hover{
    background-color: rgba(128, 128, 128, 0.378);
  }
  
  
  .button:hover{
    background-color: white;
  }
  
  
  
  .container .menus {
    height: 400px;
  }
  
  .menus {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .dept {
    color: black;
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
  
  .team {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #6B9080;
    cursor: pointer;
    padding-left: 30px;
    font-size: 14px;
    font-weight: bold;
  }
  .teams{
    display: flex;
    flex-direction: column;
    gap: 15px;

  }
  .team:hover{
    background-color: rgba(128, 128, 128, 0.378);
  }
  .members{
    display: flex;
    overflow: auto;
    width: 100%; 
    flex-direction: column;
    padding-left: 30px;
  }
  

  .member {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: gray;
  }
  .div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
  }
  .div2 > div:first-child{flex: 1;}
  .div2 > div:last-child{flex: 1;}
  .div1{
    
  }
  .div1 img{
    width: 30px;
    height: 30px;
  }  



  