div {
  /* border: 1px solid black; */
}
.container {
  background-color: cadetblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container > h1 {
  margin: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .searchBox {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container .searchBox > input {
  height: 35px;
}
.container .searchBox > button {
  height: 35px;
  width: 60px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.container .list {
  height: 800px;
}

/* .container .header {
  background-color: rgb(174, 206, 206);
  height: 170px;
}

.container .header > h1 {
  text-align: center;
}

.container .header .searchBox {
  height: 100%;
  display: flex;
}

.container .header .searchBox > div:nth-child(1) {
  flex: 1;
}
.container .header .searchBox > div:nth-child(2) {
  flex: 1;
}

.container .body {
  background-color: #bccaca;
  height: 100%;
} */
