.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8f4; /* 전체 페이지 배경 색상 */
}

.changeBox {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.title {
    color: #6B9080; /* 제목 색상 */
    margin-bottom: 20px; /* 제목과 입력 필드 사이의 여백 */
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 16px;
}

.input:focus {
    border-color: #6B9080; /* 입력 필드 포커스 시 테두리 색상 */
    outline: none;
}

.button {
    background-color: #6B9080; /* 버튼 배경 색상 */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin:3px;
}

.button:hover {
    background-color: #5a7f68; /* 버튼 호버 시 배경 색상 */
}
