.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container button{
    width: 50px;
    height: 50px;
    
}

.room{
    display: flex;
    gap: 15px;
}
.room:hover{
    background-color: rgb(230, 210, 210);
}

.avatar{
    width: 35px;
    height: 100%;
}

.message{
    flex: 3;
    
}
.name{
    font-family: 'Freesentation-9Black';
    display: flex;
    gap: 30px;
    font-size: 18px;
}
.size{
    font-size: 13px;
    color: gray;
}


.content{
    color: gray;
    font-size: 14px;
    flex: 1;
}
.write_date{
    color: gray;
    font-size: 10px;
    display: flex;
}

.alarm{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.line{
    width: 350px;
    border: 2px solid gray;
}

.unread{
    flex: 1;
}
.unread span{
    font-size: 12px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
    background-color: red;
    color: white;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.fixed{
    position: absolute;
    border: 1px solid black;
    background-color: red;
    color: white;
    border-radius: 20px;
    top: 100px;
    right: 130px;
    width: 35px;
    display: flex;
    justify-content: center;
}


@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
