/* src/components/MyAttendance/MyAttendance.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬 */
  padding: 20px;
  box-sizing: border-box;
  min-width: 1000px;
}

.myAttendanceContainer {
  width: 100%;
  margin-bottom: 30px;
}

.myAttendanceContainer > h2 {
  padding: 0;
  margin: 0;
  font-size: 22px;
}

.summarySection {
  display: flex;
  justify-content: space-between; /* 공간을 균등하게 분배 */
  width: 100%;
  gap: 20px; /* 요소들 사이의 간격 */
}

.attendanceSummary,
.leaveSection {
  flex: 1; /* 동일한 비율로 공간을 나눔 */
}

.summaryBox,
.leaveBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 40px;
  max-width: 500px; /* 크기 조정 */
  box-sizing: border-box;
}

.clockAndWorkInfo {
  display: flex;
  justify-content: center;
  width: 100%;
  /* max-width: 800px; */
  gap: 20px; /* 요소들 사이의 간격 */
  padding: 20px;
}

.clockSection,
.workInfo {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 400px;
  height: 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.timeAndButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeDisplay {
  /* margin-bottom: 20px; */
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timeDisplay .comment {
  margin: 10px;
  font-weight: 500;
  color: #6b9080;
}

.buttonsContainer {
  display: flex;
  height: 30%;
}

.buttonsContainer > button {
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #6b9080;
  color: white;
  box-sizing: border-box;
  /* opacity: 1; */
}

.buttonsContainer > button:hover {
  background-color: #6b9080cc;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
