.container{
    position: fixed;
    right: 100px;
    width: 250px; /* 사이드바의 너비 */
    height: 200px;
    background-color: #333;
    color: white;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 5px;
    display: none;
}
.content{
    font-size: 12px;
    cursor: pointer;
}
.content:hover{
    background-color: wheat;
    color: red;
}