.unread {
  position: fixed;
  border: 1px solid black;
  background-color: red;
  color: white;
  border-radius: 20px;
  top: 5px;
  right: 105px;
  width: 35px;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.chatapp {
  width: 350px;
  height: 500px;
  background: white;
  position: absolute;
  display: none;
  z-index: 100;
  top: 100px;
  right: 100px;
  flex-direction: column;
  box-shadow: 
    0px 0px 15px 5px rgba(52, 213, 114, 0),   /* 부드러운 네온 글로우 */
    0px 4px 10px rgba(0, 0, 0, 0.25),          /* 깊이 있는 그림자 */
    -10px -10px 20px rgba(255, 255, 255, 0.1), /* 입체감 있는 그림자 (밝은 부분) */
    5px 5px 15px rgba(0, 0, 0, 0.6)          /* 색상 대비 그림자 */
    ;
    border-radius: 20px;
}
