.container{
    position: fixed;
    top:200px;
    right: 100px;
    width: 350px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}
/*

body{
    background-color: rgb(163, 204, 162);
}
*/
