.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 15px;
  /* border: 1px solid #6b9080; */
}

.container > h3 {
  padding: 0 0 8px 3px;
  margin: 0;
  font-size: 15px;
  color: #6b9080;
}
.container .header {
  /* width: 100%; */
  /* flex: 1; */
  height: 32px;
  background-color: #a4c3b2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  padding: 0 10px;
}
.container .header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}
.container .header > div:nth-child(1) {
  width: 10%;
}
.container .header > div:nth-child(2) {
  width: 60%;
}
.container .header > div:nth-child(3) {
  width: 24%;
}
.container .header > div:nth-child(4) {
  width: 10%;
}
/* .container .header > div:nth-child(5) {
  width: 9%;
} */

.container .body {
  /* flex: 5.5; */
  height: auto;
  display: flex;
  flex-direction: column;
}
.container .body .list {
  height: 40px;
  display: flex;
  border-bottom: 1px solid #6b908061;
  padding: 0 10px;
}
.container .body .list > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 10px 0;
}

.container .body .list .seq {
  width: 10%;
}
.container .body .list .title {
  width: 60%;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  text-indent: 40px;
}
.container .body .list .title:hover {
  color: #50635b;
}
/* .container .body .list .writer {
  width: 15%;
} */
.container .body .list .writeDate {
  width: 24%;
}
.container .body .list .viewCount {
  width: 10%;
}
