.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* border: 1px solid #6b9080; */
}

.container .header {
  /* width: 100%; */
  /* flex: 1; */
  height: 32px;
  background-color: #a4c3b2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  padding: 0 10px;
}
.container .header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}
.container .header > div:nth-child(1) {
  width: 8%;
}
.container .header > div:nth-child(2) {
  width: 53%;
}
.container .header > div:nth-child(3) {
  width: 15%;
}
.container .header > div:nth-child(4) {
  width: 15%;
}
.container .header > div:nth-child(5) {
  width: 9%;
}

.container .body {
  /* flex: 5.5; */
  height: auto;
  display: flex;
  flex-direction: column;
}
.container .body .list {
  height: 40px;
  display: flex;
  border-bottom: 1px solid #6b908061;
  padding: 0 10px;
}
.container .body .list > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 10px 0;
}

.container .body .list .seq {
  width: 8%;
}
.container .body .list .title {
  width: 53%;
  cursor: pointer;
}
.container .body .list .title:hover {
  color: #50635b;
}
.container .body .list .writer {
  width: 15%;
}
.container .body .list .writeDate {
  width: 15%;
}
.container .body .list .viewCount {
  width: 9%;
}
