.container{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
    width: 98%;
    height: 95%;
    display: flex;
    flex-direction: column;
}
/* 
.container div{
    border: 1px solid black;
} */

.title{
    flex:1;
    text-align: center;
    font-size: 27px;
    width: 100%;
    padding-top: 10px;
}

.header{
    flex:2;
    width: 100%;
    display: flex;
}

.left{
    flex:3.5;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.writer_data{
    flex:1;
    display: flex;
    width: 70%;
    justify-content: start;
    border: 1px solid black;
}

.writer_title{
    flex:3;
    text-indent: 15px;
    background-color: #CCE3DE;
    display: flex;
    align-items: center;
}

.writer_content{
    flex:7;
    text-indent: 15px;
    display: flex;
    align-items: center;
}

.mid{
    flex:3.5;
}

.right{
    flex:4;
    display: flex;
    justify-content: end;
    text-align: center;
}

.approval_box{
    width: 130px;
    height: 100%;
    display: flex;
    margin-right: 20px;
    border: 1px solid black;
}

.approval_box_side{
    flex:2;
    word-break: break-all;
    display: flex;
    text-align: center;
    padding-top: 10px;
    border-right: 1px solid black;
}

.approval_box_main{
    flex:8;
    display: flex;
    flex-direction: column;
}

.approval_job{
    flex:1;
    border-bottom: 1px solid black;
}

.approval_member{
    flex:3.5;
    border-bottom: 1px solid black;
}

.approval_date{
    flex:0.5;
}

.submain{
    border: 1px solid black;
    flex:0.5;
    margin-top: 15px;
    /* width: 97.5%; */
    width: 80%;
    display: flex;
    margin-left: 20px;
}

/* .submain_box{
    width: ;
} */
.submain_title{
    flex:2.5;
    background-color: #CCE3DE;
    text-indent: 15px;
}
.submain_content{
    flex:7.5;
    text-indent: 15px;
}


.subtitle{
    flex:0.5;
    width: 100%;
    margin-left: 20px;
    display: flex;
    width: 80%;
    border: 1px solid black;
}

.subtitle_title{
    flex:1.25;
    background-color: #CCE3DE;
    text-indent: 15px;
}

.subtitle_content{
    flex:8.75;
    text-indent: 15px;
}

.content{
    flex:6;
    width: 100%;
    margin-left: 20px;
}

