div {
    /* border: 1px solid black; */
  }
  .container {
    background-color: #EAF4F4;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.1); /* 왼쪽에 그림자 추가 */
  }
  
  .container .mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .container .mainBtn button {
    background-color: #A4C3B2;
    color: white;
    font-size: medium;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
  }

  .container .mainBtn button:hover {
    background-color: #6b9080cc;
  }
  
  .container .mainBtn button i {
    margin-right: 10px;
  }
  
  .container .menus {
    height: 400px;
    padding: 0 15px;
  }
  
  .container .menus ul {
    list-style: none;
    cursor: pointer;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 0.9rem;
  }
  .container .menus ul > li {
    position: relative; border: 1px solid rgb(219, 219, 219);
    border-radius: 5px; padding-right: 0;
    padding: 0 0 0 10px;
  }
  .container .menus ul > li > i {
    margin-bottom: 20px;
  }
  /* 추가 버튼 */
  .container .menus ul > li > #plus{
    z-index: 99;
    position: absolute; right: 0;
    padding: 5px;
    cursor: pointer;
    transition: all ease-in 0.3s; 
  }
  .container .menus ul > li > #plus:hover{
    color: white;
  }
  
  .container .menus ul > li > ul > li {
    margin: 0 0 0 13px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
  }
  .container .menus ul > li > ul > li span:nth-child(1) {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .menus ul > li > ul > li:hover {
    background-color: #c0dcd6;
  }
  
  .container .menus ul > li i {
    margin-right: 10px;
  }
  
  /* Submenu */
  .submenu {
    max-height: 0;
    overflow: auto;
    transition: max-height 0.3s ease-out;
  }
  .submenu::-webkit-scrollbar {
    display: none; /* 웹킷 브라우저에서 스크롤바 숨기기 */
  }
  .submenu.open {
    max-height: 300px; /* 충분히 큰 값으로 설정하여 모든 항목이 표시되도록 합니다. */
  }
  .submenu > li > button{position: absolute;border: none; right: 0; display: flex;justify-content: center; align-items: center; background-color: initial;}
  .submenu > li > button > i {color: #000; margin-right: 0;}
  /* 모달창 */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px; height: 500px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  display: flex; flex-direction: column;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}



/* 
.editBox {background-color: red;width: 100%;display: flex;justify-content: space-between;}
.editBox > input {background-color: aqua; width: 100px;}

.editBox > span {background-color: yellow;}
.editBox > button {background-color: #ccc;}
 */

/* 사이드 미니 캘린더 */
.mini{
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  font-size: 12px;
}



