/* div {
    border: 1px solid black;
  } */

.container {
  background-color: #cce3de;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.1);
  
  /* 왼쪽에 그림자 추가 */
}

.nbti{
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
}
.button {
  margin-right: 10px;
}
.nbtiname{
  display: flex;
}
.nbtiname:hover{
  /* background-color: gray; */
  cursor: pointer;
}
.deptname{
  display: flex;
}
.deptname:hover{
  /* background-color: gray; */
  cursor: pointer;
}


.button:hover{
  /* background-color: white; */
}



.container .menus {
  height: 400px;
  padding-left: 20px;
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.dept {
  /* color: red; */
  display: flex;
}

.team {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* color: blue; */
  cursor: pointer;
  padding-left: 20px;
}
.teams{
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* border: 1px solid red; */
}
.teams span{flex: 1;}
.team:hover{
  background-color: #ffffff55;
  border-radius: 5px;
}
.members{
  display: flex;
  overflow: auto;
  max-width: 1000px;
  gap: 10px;
  width: 1000px; 
  position: absolute;
  left: 350px;
  flex-direction: column;
}

.membersTop{
  display: flex;
  overflow: auto;
  max-width: 1000px;
  gap: 10px;
  width: 1000px; 
  position: absolute;
  left: 350px;
  top:0;
  flex-direction: column;
}


