/* div {
    border: 1px solid black;
  } */
  
  .container {
    background-color: #cce3de;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.1); /* 왼쪽에 그림자 추가 */
  }
  
  
  .container .menus {
    height: 400px;
    padding: 0 15px;
  }

  .menus{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu{
    display: flex;
    flex-direction: column;
  }
  
