.container {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    overflow-y: hidden;
  }

hr{width: 100%;}

.title{
    margin-top: 18px;
    font-size: 25px;
    text-indent: 10px;
    width: 100%;
    flex:0.5;
}

.bubble_empty{
    text-indent: 40px;
}

.bubble_box{
    width: 100%;
    height: 240px;
    margin-top: 20px;
    overflow-x:auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.bubble{
    border: 1px solid black;
    height: 210px;
    min-width: 310px;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-indent: 20px;
    /* align-items: start;
    justify-content: start; */
}

.bubble_state{
    flex:0.75;
    display: flex;
    justify-content: start;
    align-items: center;
    /* width: 150px; */
}


.bubble_title{
    font-size: 18px;
    font-weight: 700;
    flex:1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.approvaler, .approval_date{
    display: flex;
    flex:1;
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 30px;
}

.approvaler_content, .date_content{
    text-indent: 10px;
}

.btn{
    margin-top: 15px;
    flex:1;
}

.btn button{
    background-color: #A4C3B2;
    border: 0px;
    width: 270px;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing:5px;
}

.btn button:hover{
    cursor: pointer;
    background-color: #6B9080;
}


/* 스크롤 */

/* 전체 스크롤바의 스타일을 설정합니다. */
.bubble_box::-webkit-scrollbar {
    /* width: 10px; 스크롤바의 너비 */
    height: 10px; /* 스크롤바의 높이 */
}

/* 스크롤바의 트랙(스크롤바가 움직이는 부분) 스타일을 설정합니다. */
.bubble_box::-webkit-scrollbar-track {
    background-color: #F6FFF8; /* 배경색 */
    border-radius: 10px; /* 모서리 둥글기 */
}

/* 스크롤바의 핸들(스크롤바의 이동 부분) 스타일을 설정합니다. */
.bubble_box::-webkit-scrollbar-thumb {
    background-color: #CCE3DE; /* 핸들의 색상 */
    border-radius: 10px; /* 핸들의 모서리 둥글기 */
}

/* 핸들에 마우스를 올렸을 때 스타일을 설정합니다. */
.bubble_box::-webkit-scrollbar-thumb:hover {
    background-color: #A4C3B2; /* 핸들에 마우스를 올렸을 때 색상 */
}

.draft_box{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    
}

.doc_box{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.sub_title{
    flex:1;
    text-indent: 20px;
    font-size: 21px;
}
.sub_content{
    flex:9;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.table{
    margin-top: 10px;
    width: 95%;
    height: 100%;
    display: flex;
    /* justify-content: start;
    align-items: center; */
    flex-direction: column;
}

.table_head{
    display: flex;
    width: 100%;
    height: 32px;
    border: 1px solid black;
    background-color: #A4C3B2;
}

.table_body{
    display: flex;
    width: 100%;
    height: 32px;
    border: 1px solid black;
}

.table_body:hover{
    cursor: pointer;
}

.doc_number{
    flex:1;
    text-align: center;
}
.doc_title{
    flex:4.5;
}
.doc_emergency{
    flex:1;
    text-align: center;
}
.doc_writer{
    flex:1;
    text-align: center;
}
.doc_write_date{
    flex:1.5;
    text-align: center;
}
.doc_state{
    flex:1;
    text-align: center;
}

.head{
    margin-top: 10px;
    background-color: #b8d0cb;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 40px;
    width: 95%;
    align-items: center;
    /* justify-content: center; */
}

.body{
    display: flex;
    width: 95%;
    height: 280px;
    flex-direction: column;
    overflow: hidden;
}


.list{
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    min-height: 37.5px;
    max-height: 37.5px;
    align-items: center;
    background-color: white;
}

.date{flex:1.3; text-align: center;}
.form{flex:0.8; text-align: center;}
.emergency{flex:0.8;  text-align: center; display: flex; justify-content: center;}
.content_title{flex:4.5;  text-indent: 30px;}
.content_title:hover{cursor: pointer; font-weight: 800;}
.file{flex:0.8; text-align: center;}
.writer{flex:0.8; text-align: center;}
.doc_number{flex:1; text-align: center;}
.doc_state{flex:1.3; text-align: center; display: flex; justify-content: center;}
.temp_number{display: none;}

.emergency_badge{
    width: 45%; 
    height: 90%; 
    background-color: rgba(245, 245, 220, 0); 
    border: 1px solid red;
    border-radius: 5px; 
    color: red;
}

.state_badge_green{
    width: 60%; 
    height: 90%; 
    background-color: rgba(245, 245, 220, 0); 
    border: 1px solid forestgreen;
    border-radius: 5px; 
    color:forestgreen;
}

.state_badge_gray{
    width: 60%; 
    height: 90%; 
    background-color: rgba(245, 245, 220, 0); 
    border: 1px solid gray;
    border-radius: 5px; 
    color:gray;
}

.state_badge_red{
    width: 60%; 
    height: 90%; 
    background-color: rgba(245, 245, 220, 0); 
    border: 1px solid red;
    border-radius: 5px; 
    color:red;
}

.emergency_badge_bubble{
    margin-top: 10px;
    margin-left: 10px;
    width:50px; 
    height: 74%; 
    background-color: red; 
    border: 1px solid red;
    border-radius: 5px; 
    color: white;
    text-indent: 10px;
}