.container {
    width: 100%;
    height: 50px;
    background-color: ghostwhite;
    border-radius: 5px;
}
.tab_menu {
    border: 1px solid red;
    height: 100%;height: 100%;
}
.tab_menu > button {
    width: 100px; height: 100%;
    background-color: #EAF4F4;
    box-shadow: 1px 1px 1px gainsboro;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}
button:hover,
button:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}