.container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.userTable th, .userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.userTable th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.userTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.userTable tr:hover {
    background-color: #f1f1f1;
}

.userTable td {
    max-width: 150px; /* Set a max-width for td elements */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clickable {
    cursor: pointer;
    color: black;
    
}
.searchAndFilter {
    display: flex;
    align-items: center;
    gap: 10px; /* 버튼 간의 간격 */
    
    
}
.filterSelect {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    margin-bottom: 20px;
}

