div {
  /* border: 1px solid black; */
}

.container {
  width: calc(100% - 250px);
  margin-left: 250px;
  overflow: auto;
  padding: 0px 20px;
  background-color: beige;
  min-height: 940px;
  /* float: right; */
  /* height: 100%; 100vh ? */
  /* will-change: width; */
}
