.container {
  height: auto;
  min-height: 640px;
  display: flex;
  position: relative;
}
.container .side {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container .side .work_time {
  height: 120px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .side .approval {
  height: 120px;
  /* border: 1px solid black; */
  border-radius: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .side .calendar {
  height: 500px;
  /* border: 1px solid black; */
  border-radius: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .board {
  flex: 2.3;
  display: flex;
  flex-direction: column;
}
.container .board .notice_board {
  height: auto;
  margin: 20px;
  /* border: 1px solid black; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .board .free_board {
  height: auto;
  margin: 0 20px 20px 20px;
  /* border: 1px solid black; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .board .up_btn {
  position: absolute;
  right: 0px;
  bottom: -30px;
}
