.container {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 0px 20px 20px;
    /* background-color: beige; */
    min-height: 930px;
    display: flex;
    flex-direction: column;
  }