div {
    /* border: 1px solid black; */
  }
  
  .container {
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100%;
    /* padding: 0px 20px 20px; */
    min-height: 930px;
    float: right;
    background-color: #6b90800c;
    padding: 20px;
  }